* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  transition: background-color 0.3s;
}

.main {
  display: grid;
  height: 100vh;
  place-content: center;
}

.color-picker__container {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  padding: 34px;
  border-radius: 10px;
  box-shadow: 0 0 20px 6px #0005;
}

.color-picker__canvas {
  position: relative;
}

.hue--picker {
  border-radius: 10px;
}

.color-picker__selector {
  display: flex;
}

.color-picker__color-selector {
  position: relative;
  margin-right: 20px;
}

.color-picker__hue-selector {
  position: relative;
}

.color-picker__color {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 5px solid #fff;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s;
}

.color-picker__hue {
  position: absolute;
  top: 0;
  left: -2px;
  width: 25px;
  height: 14px;
  border-radius: 6px;
  border: 5px solid #000;
  background-color: #f00;
}

.color-picker__colors-list {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  max-width: 340px;
  gap: 5px;
}

.colors-list__color {
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.colors-list__color:hover {
  border: 2px solid black;
}

.color-picker__add-btn {
  text-align: center;
  line-height: 1;
  width: 26px;
  height: 26px;
  color: #050505;
  background-color: #fafafa;
  border: 2px solid #050505;
}

.color-picker__add-btn:active {
  background-color: #050505;
  color: #fafafa;
}
